BODY,P,A,TD,TH,UL,OL,LI,DL,DT,DD,DIV,FONT {font-family:Helvetica,Verdana;font-size:14px;text-decoration:none;color:darkgreen}
.pmn {font-family:Verdana,Arial,Helvetica;font-size:16px;font-weight:bold;color:#FFFFFF;text-decoration:none;}
.pmn2 {font-family:Verdana,Arial,Helvetica;font-size:16px;font-weight:bold;color:darkgreen;text-decoration:none;}
.sb_z {font-family:Arial,Verdana,Helvetica;font-size:16px;font-weight:bold;color:#FFFFFF;text-decoration:none;}
.sb_t {font-family:Arial,Verdana,Helvetica;font-size:16px;color:#FFFFFF;text-decoration:none;}
.t_tlt {font-family:Verdana,Arial,Helvetica;font-size:12px;font-weight:bold;color:#FFFFFF;text-decoration:none;}
.t_tlt2 {font-family:Verdana,Arial,Helvetica;font-size:12px;color:#FFFFFF;text-decoration:none;}
.t_red {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#FF0000;text-decoration:none;}
.t_grn {font-family:Verdana,Arial,Helvetica;font-size:20px;font-weight:bold;color:#00ee00;text-decoration:none;}
.t_grn_2 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#00ee00;text-decoration:none;}
.t_off {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#bbbbbb;text-decoration:none;}
.t_off2 {font-family:Helvetica,Verdana,Arial;font-size:12px;font-weight:bold;color:#a1a1a1;text-decoration:none;}
.t_ntrl {font-family:Helvetica,Verdana,Arial;font-size:12px;font-weight:bold;text-decoration:none;}
.t_off3 {font-family:Helvetica,Verdana,Arial;font-size:9px;color:#a1a1a1;text-decoration:none;}
.t_off4 {font-family:Helvetica,Verdana,Arial;font-size:14px;color:#a1a1a1;text-decoration:none;}
.t_on {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:darkgreen;text-decoration:none;}
.t_red_12 {font-family:Verdana,Arial,Helvetica;font-size:12px;font-weight:bold;color:#ff0000;text-decoration:none;}
.t_gr_12 {font-family:Verdana,Arial,Helvetica;font-size:12px;font-weight:bold;color:#00f100;text-decoration:none;}
.t_bl_12 {font-family:Verdana,Arial,Helvetica;font-size:12px;font-weight:bold;color:#0000ff;text-decoration:none;}
.t_green_14 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#1e8a49;text-decoration:none;}
.t_c2c41d_12 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#eb643b;text-decoration:none;}
.t_c2c41d_14 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#5F9EA0;text-decoration:none;}
.t_117e96_14 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#752dbd;text-decoration:none;}
.t_wth {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#ffffff;text-decoration:none;}
.t_zm {font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold;color:darkgreen;text-decoration:none;}
.t_ur {font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold;color:#c1c1c1;text-decoration:none;}
.t_yl_14 {font-family:Verdana,Arial,Helvetica;font-size:14px;font-weight:bold;color:#dbca2e;text-decoration:none;}
.hh8_on {font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold;color:darkgreen;text-decoration:none;}
.hh8_off {font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold;color:#bbbbbb;text-decoration:none;}

.t_on_icon {font-family:Verdana,Arial,Helvetica;font-size:28px;font-weight:bold;color:darkgreen;text-decoration:none;}
.t_off_icon {font-family:Verdana,Arial,Helvetica;font-size:28px;font-weight:bold;color:#bbbbbb;text-decoration:none;}


h2 {margin: 0; padding: 0; font-family: Helvetica,Verdana, sans-serif; color: ffffff;} 
h3 {margin: 0; padding: 0; font-family: Helvetica,Verdana, sans-serif; font-size:15px; font-weight:bold; color: ffffff;}
h5 {margin: 0; padding: 0; font-family: Helvetica,Verdana, sans-serif; font-size:16px; font-weight:bold; color: ff0000;} 
h4 {margin: 0; padding: 0; font-family: Helvetica,Verdana, sans-serif; font-size:12px; font-weight:bold; color: 00ff00;} 
h7 {margin: 0; padding: 0; font-family: Verdana, sans-serif; font-size:16px; font-weight:bold; color: 3481A6;}
h77 {margin: 0; padding: 0; font-family: Verdana, sans-serif; font-size:16px; font-weight:bold; color: bbbbbb;}
h6 {margin: 0; padding: 0; font-family: Verdana, sans-serif; font-size:14px; font-weight:bold; color: ffffff;}
h8 {margin: 0; padding: 0; font-family: Helvetica,Verdana, sans-serif; font-size:10px; font-weight:bold; color: 3481A6;}

